.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  width: 100%;
  margin: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  position: static;
  overflow: hidden; /*устанавливаем отображение содержимого*/
  flex-flow: column;
  justify-content: space-between;
  /* выше установили ограничения для секции */
}